.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    color: rgb(112, 117, 122);
    position: relative;
}

a:hover{
    text-decoration: underline;
}

.button{
    background-color: #f8f9fa;
    color: rgb(39, 39, 39);
    padding: 5px 50px;
    border: none;
}

.g-box {
    width: 272px;
    height: 92px;
    aspect-ratio: auto 272 / 92;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: 55%;
    background-repeat: no-repeat;
    background-image: url('../google_img/googlelogo_color_272x92dp.png');
    background-position: center center;

}

ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    position: absolute;
    left: 28.5%;
    bottom: 50%;
    background-color: #FFF;
    box-shadow: 0 0 0 0.1pt black;
    border-radius: 25px;
    width: 40%;
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    box-shadow:rgb(39, 39, 39);
  }

#textSearch {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #3c4043;
    position:fixed;
    display:flex;
    justify-content: flex-start;
    right: 50px;
}

/*
.search-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #3c4043;
    position:fixed;
    display:flex;
    justify-content: flex-start;
    right: 50px;
}
*/
